<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="templateQUI.settings">
                    <conf name="logo">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="templateQUI">
                        <text>QUI Template Settings</text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>

                        <settings title="templateQUI.settings" name="templateQUI.settings">
                            <title>
                                QUI Template Einstellungen
                            </title>
                            <input conf="templateQUI.settings.logo" class="media-image">
                                <text>Header-Logo</text>
                            </input>
                        </settings>

                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="page-content">
            <css src="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic"/>
            <css src="URL_OPT_DIR/quiqqer/template-qui/bin/css/style.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-qui/bin/css/buttons.css"/>

            <styles>
                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.black"/>
                    <attributes>
                        <attribute name="class">button-black</attribute>
                    </attributes>
                </style>

                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.grey"/>
                    <attributes>
                        <attribute name="class">button-grey</attribute>
                    </attributes>
                </style>

                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.white"/>
                    <attributes>
                        <attribute name="class">button-white</attribute>
                    </attributes>
                </style>

                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.silver"/>
                    <attributes>
                        <attribute name="class">button-silver</attribute>
                    </attributes>
                </style>

                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.orange"/>
                    <attributes>
                        <attribute name="class">button-orange</attribute>
                    </attributes>
                </style>

                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.red"/>
                    <attributes>
                        <attribute name="class">button-red</attribute>
                    </attributes>
                </style>

                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.blue"/>
                    <attributes>
                        <attribute name="class">button-blue</attribute>
                    </attributes>
                </style>

                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.rosy"/>
                    <attributes>
                        <attribute name="class">button-rosy</attribute>
                    </attributes>
                </style>

                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.green"/>
                    <attributes>
                        <attribute name="class">button-green</attribute>
                    </attributes>
                </style>

                <style element="a">
                    <locale group="quiqqer/template-qui" var="template.button.pink"/>
                    <attributes>
                        <attribute name="class">button-pink</attribute>
                    </attributes>
                </style>

            </styles>

        </wysiwyg>

    </project>
</quiqqer>