<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="templateQUI.settings">
                    <conf name="logo">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="minHeaderNoSidebar">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="minHeaderLeftSidebar">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="minHeaderRightSidebar">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="colorFooterBackground">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#414141</defaultvalue>
                    </conf>
                    <conf name="colorFooterFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#D1D1D1</defaultvalue>
                    </conf>
                    <conf name="colorFooterLinks">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#E6E6E6</defaultvalue>
                    </conf>
                    <conf name="colorMain">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#DD151B</defaultvalue>
                    </conf>
                    <conf name="colorBackground">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#F7F7F7</defaultvalue>
                    </conf>

                    <!-- language switch -->
                    <conf name="langSwitch.display">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="langSwitch.show.label">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="langSwitch.options">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>showFlag</defaultvalue>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="templateQUI">
                        <text>QUI Template Settings</text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>

                        <settings title="templateQUI.settings" name="templateQUI.settings.logo">
                            <title>
                                <locale group="quiqqer/template-qui" var="templateQUI.settings.logo.title" />
                            </title>
                            <input conf="templateQUI.settings.logo" class="media-image">
                                <text>
                                    <locale group="quiqqer/template-qui" var="templateQUI.settings.logo.text" />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-qui" var="templateQUI.settings.logo.description" />
                                </description>
                            </input>
                        </settings>

                        <settings title="templateQUI.settings" name="templateQUI.header.settings">
                            <title>
                                <locale group="quiqqer/template-qui" var="templateQUI.header.settings.text" />
                            </title>

                            <input conf="templateQUI.settings.minHeaderNoSidebar" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-qui" var="minHeaderNoSidebar.text" />
                                </text>
                                <description><locale group="quiqqer/template-qui" var="minHeaderNoSidebar.description" /></description>
                            </input>
                            <input conf="templateQUI.settings.minHeaderLeftSidebar" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-qui" var="minHeaderLeftSidebar.text" />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-qui" var="minHeaderLeftSidebar.description" />
                                </description>
                            </input>
                            <input conf="templateQUI.settings.minHeaderRightSidebar" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-qui" var="minHeaderRightSidebar.text" />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-qui" var="minHeaderRightSidebar.description" />
                                </description>
                            </input>
                        </settings>

                        <!-- Colors -->
                        <settings title="templateQUI.settings" name="templateQUI.settings.color">
                            <title>
                                <locale group="quiqqer/template-qui" var="templateQUI.settings.color.title" />
                            </title>

                            <input conf="templateQUI.settings.colorFooterBackground" type="color">
                                <text>
                                    <locale group="quiqqer/template-qui"
                                            var="template.settings.colorFooterBackground.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateQUI.settings.colorFooterFont" type="color">
                                <text>
                                    <locale group="quiqqer/template-qui"
                                            var="template.settings.colorFooterFont.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateQUI.settings.colorFooterLinks" type="color">
                                <text>
                                    <locale group="quiqqer/template-qui"
                                            var="template.settings.colorFooterLinks.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateQUI.settings.colorMain" type="color">
                                <text>
                                    <locale group="quiqqer/template-qui"
                                            var="template.settings.colorMain.text"
                                            />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-qui"
                                            var="template.settings.colorMain.description"
                                            />
                                </description>
                            </input>
                            <input conf="templateQUI.settings.colorBackground" type="color">
                                <text>
                                    <locale group="quiqqer/template-qui"
                                            var="template.settings.colorBackground.text"
                                            />
                                </text>
                            </input>
                        </settings>


                        <!-- lang switcher options -->
                        <settings title="templateQUI.settings" name="templateQUI.settings.langSwitch">
                            <title>
                                <locale group="quiqqer/template-qui" var="templateQUI.settings.langSwitch.title" />
                            </title>

                            <input conf="templateQUI.settings.langSwitch.display" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-qui"
                                            var="templateQUI.settings.langSwitch.display.text"
                                    />
                                </text>
                            </input>

                            <input conf="templateQUI.settings.langSwitch.show.label" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-qui"
                                            var="templateQUI.settings.langSwitch.label.text"
                                    />
                                </text>
                            </input>

                            <select conf="templateQUI.settings.langSwitch.options">
                                <text>
                                    <locale group="quiqqer/template-qui"
                                            var="templateQUI.settings.langSwitch.option.text"
                                    />
                                </text>

                                <option value="showFlag">
                                    <locale group="quiqqer/template-qui"
                                            var="templateQUI.settings.langSwitch.option.showFlag"
                                    />
                                </option>
                                <option value="showText">
                                    <locale group="quiqqer/template-qui"
                                            var="templateQUI.settings.langSwitch.option.showText"
                                    />
                                </option>
                                <option value="showBoth">
                                    <locale group="quiqqer/template-qui"
                                            var="templateQUI.settings.langSwitch.option.showBoth"
                                    />
                                </option>
                            </select>
                        </settings>

                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="page-content">
            <css src="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic"/>
            <css src="URL_OPT_DIR/quiqqer/template-qui/bin/css/style.css"/>
        </wysiwyg>

    </project>
</quiqqer>