

.content-message-error,
.content-message-attention,
.content-message-success,
.content-message-information {
    clear: both;
    float: left;
    margin: 3px 0 0;
    padding: 10px 30px;
    position: relative;
    width: 100%;
}

/** Message colors */
.content-message-error {
    background: #F2D4CE url('../images/error.png') no-repeat 10px 13px;
    border-color: #AE432E;
}
.content-message-attention {
    background: #FAF6D4 url('../images/attention.png') no-repeat 10px 13px;
    border-color: #E6C26E;
}
.content-message-success {
    background: #D9E6C3 url('../images/success.png') no-repeat 10px 13px;
    border-color: #77AB13;
}
.content-message-information {
    background: #CEE6F2 url('../images/information.png') no-repeat 10px 13px;
    border-color: #058DC7;
}
