<div class="grid-container grid-parent page" id="page">
    {if $Site->getId() != 1}
    <div class="page-breadcrumb">
        {control control="\QUI\Controls\Breadcrumb"}
    </div>
    {/if}

    {assign var=leftSideBar value=$BricksManager->getBricksByArea('leftSidebar', $Site)}
    {assign var=contentBricks value=$BricksManager->getBricksByArea('contentBricks', $Site)}

    <div class="grid-100 mobile-grid-100 grid-parent page-multible-content" role="main">

        <div class="page-multible-left grid-parent grid-33 mobile-grid-100">
            {if !empty( $leftSideBar )}
            {foreach from=$leftSideBar item=Brick}
            <div class="page-box">
                <div class="page-box-inner page-content">
                    {$Brick->create()}
                </div>
            </div>
            {/foreach}
            {/if}
        </div>

        <div class="page-multible-right grid-parent grid-66 mobile-grid-100">
            <div class="page-box">
                {if $Site->getAttribute('image_emotion')}
                <div class="page-image">
                    {image src=$Site->getAttribute('image_emotion') width=1200}
                </div>
                {/if}

                <div class="page-box-inner page-content">
                    {if $Site->getAttribute('type') != 'quiqqer/template-qui:types/leftSidebar'}
                        {$Template->getBody()}
                    {else}
                        {$Site->getAttribute('content')}
                    {/if}
                </div>

                {if !empty( $contentBricks )}
                {foreach from=$contentBricks item=Brick}
                    <div class="page-box-inner page-content">
                        {$Brick->create()}
                    </div>
                {/foreach}
                {/if}
            </div>
        </div>

    </div>
</div>