
.page-multible-left {
    float: left;
    padding-right: 10px !important;
}

.page-multible-left .page-box {
    margin-bottom: 20px;
}

.page-multible-right {
    float: left;
    padding-left: 10px !important;
}

@media screen and (max-width: 767px) {

    .page-multible-left {
        padding-right: 0 !important;
    }

    .page-multible-right {
        padding-left: 0 !important;
    }

}