
.page-multible-left {
    float: left;
    padding-right: 10px;
    width: 70%;
}

.page-multible-right {
    float: left;
    padding-left: 10px;
    width: 30%;
}

.page-multible-right .page-box {
    margin-bottom: 20px;
}
